In [11]:
d = {"name" : ["ind","pak"], "state":["up","punjab"]}
d

{'name': ['ind', 'pak'], 'state': ['up', 'punjab']}

In [12]:
d["name"]

['ind', 'pak']

In [13]:
d["state"]

['up', 'punjab']

In [18]:
school = {"abc":{"name":["rahul","parul","nancy"],"age":[21,22,20],"id":[1,2,3]}, "def":{"name":["ram","payal","dazy"], "age": [23,20,21],"id":[4,5,6]}}

In [19]:
school["abc"]

{'name': ['rahul', 'parul', 'nancy'], 'age': [21, 22, 20], 'id': [1, 2, 3]}

In [20]:
school["abc"]["name"]

['rahul', 'parul', 'nancy']

In [27]:
print(school["abc"]["name"][0],end=" ")
print(school["abc"]["age"][0])

rahul 21

In [31]:
print(school["def"]["name"][2], end = " ")
print(school["def"]["id"][2])

dazy 6

In [32]:
import pandas as pd
data = pd.DataFrame({"name" : ["ind","pak"], "state":["up","punjab"]})
data

  name   state
0  ind      up
1  pak  punjab

In [33]:
data2 = pd.DataFrame(d)
data2

  name   state
0  ind      up
1  pak  punjab

In [36]:
x = {"id": [0,1,2], "name":["a","b","c"]}

In [37]:
import pandas as pd
data = pd.DataFrame(x)
data

   id name
0   0    a
1   1    b
2   2    c

In [38]:
import pandas as pd
data1 = pd.DataFrame(school)
data1

                        abc                 def
age            [21, 22, 20]        [23, 20, 21]
id                [1, 2, 3]           [4, 5, 6]
name  [rahul, parul, nancy]  [ram, payal, dazy]

In [46]:
import numpy as np
import pandas as pd
pd.DataFrame(np.arange(12).reshape(3,4), columns = ["name","id","age","class"])

   name  id  age  class
0     0   1    2      3
1     4   5    6      7
2     8   9   10     11

In [47]:
pd.DataFrame(np.arange(12).reshape(3,4), columns = ["name","id","age","class"],index = ["abc","def","xyz"])

     name  id  age  class
abc     0   1    2      3
def     4   5    6      7
xyz     8   9   10     11

In [51]:
x = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
pd.DataFrame(x.reshape(3,4), columns = ["name","id","age","class"],index = ["abc","def","xyz"])

     name  id  age  class
abc     1   2    3      4
def     5   6    7      8
xyz     9  10   11     12

In [52]:
x = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
pd.DataFrame(x.reshape(4,3), columns = ["name","id","age"],index = ["abc","def","xyz","pqr"])

     name  id  age
abc     1   2    3
def     4   5    6
xyz     7   8    9
pqr    10  11   12

In [ ]:
coverting list into dict

In [3]:
a = ['class1','class2','class3']
b = ['parul','rahul','dazy']
d = {}
y =0
for i in a:
    d[i] = b[y]
    y = y+1
print(d)

{'class1': 'parul', 'class2': 'rahul', 'class3': 'dazy'}

In [7]:
d['class1']

'parul'