In [3]:
import pandas as pd
pd.DataFrame({"yes":["cortona","nanu"], "no": ["ram","bob"]})

       yes   no
0  cortona  ram
1     nanu  bob

In [4]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd.DataFrame({"yes":[50,12], "no": [58,45]}, index = {'response1', 'response2'})

           yes  no
response2   50  58
response1   12  45

In [6]:
pd.Series([1,2,3], index = ["2015 sale","2016 sale", "2017 sale"], name = "product A")

2015 sale    1
2016 sale    2
2017 sale    3
Name: product A, dtype: int64

In [7]:
data = pd.read_csv("nv.csv")
data

     outlook  temp Humidity    Wind Plat Tennis
0      Sunny   hot     high    weak          no
1      Sunny   hot     high  strong          no
2   overcast   hot     high    weak         yes
3       Rain  mild     high    weak         yes
4       Rain  cool   normal    weak         yes
5       Rain  cool   normal  strong          no
6   overcast  cool   normal  strong         yes
7      Sunny  mild     high    weak          no
8      Sunny  cool   normal    weak         yes
9       Rain  mild   normal    weak         yes
10     Sunny  mild   normal  strong         yes
11  overcast  mild     high  strong         yes
12  overcast   hot   normal    weak         yes
13      Rain  mild     high  strong          no

In [8]:
data.shape

(14, 5)

In [9]:
data.head()

    outlook  temp Humidity    Wind Plat Tennis
0     Sunny   hot     high    weak          no
1     Sunny   hot     high  strong          no
2  overcast   hot     high    weak         yes
3      Rain  mild     high    weak         yes
4      Rain  cool   normal    weak         yes

In [10]:
head() grab first five rows

SyntaxError: invalid syntax (<ipython-input-10-d56a76c43e77>, line 1)

In [11]:
data = pd.read_csv("nv.csv", index_col = 0)
data.head()

          temp Humidity    Wind Plat Tennis
outlook
Sunny      hot     high    weak          no
Sunny      hot     high  strong          no
overcast   hot     high    weak         yes
Rain      mild     high    weak         yes
Rain      cool   normal    weak         yes

In [12]:
data.tail()

          temp Humidity    Wind Plat Tennis
outlook
Rain      mild   normal    weak         yes
Sunny     mild   normal  strong         yes
overcast  mild     high  strong         yes
overcast   hot   normal    weak         yes
Rain      mild     high  strong          no

In [17]:
data.sample(5)

     outlook  temp Humidity    Wind Plat Tennis
1      Sunny   hot     high  strong          no
7      Sunny  mild     high    weak          no
9       Rain  mild   normal    weak         yes
10     Sunny  mild   normal  strong         yes
2   overcast   hot     high    weak         yes

In [20]:
data[['outlook','temp']]

     outlook  temp
0      Sunny   hot
1      Sunny   hot
2   overcast   hot
3       Rain  mild
4       Rain  cool
5       Rain  cool
6   overcast  cool
7      Sunny  mild
8      Sunny  cool
9       Rain  mild
10     Sunny  mild
11  overcast  mild
12  overcast   hot
13      Rain  mild

In [21]:
data.temp

0      hot
1      hot
2      hot
3     mild
4     cool
5     cool
6     cool
7     mild
8     cool
9     mild
10    mild
11    mild
12     hot
13    mild
Name: temp, dtype: object

In [32]:
data.outlook == 'overcast'

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12     True
13    False
Name: outlook, dtype: bool

In [25]:
data.count()

outlook        14
temp           14
Humidity       14
Wind           14
Plat Tennis    14
dtype: int64

In [26]:
data[['outlook']].count()

outlook    14
dtype: int64

In [28]:
data.outlook.count()

14

In [29]:
data.outlook.count

<bound method Series.count of 0        Sunny
1        Sunny
2     overcast
3         Rain
4         Rain
5         Rain
6     overcast
7        Sunny
8        Sunny
9         Rain
10       Sunny
11    overcast
12    overcast
13        Rain
Name: outlook, dtype: object>