In [5]:
import pandas as pd
x= pd.read_csv("nv.csv")
x

     outlook  temp Humidity    Wind Plat Tennis
0      Sunny   hot     high    weak          no
1      Sunny   hot     high  strong          no
2   overcast   hot     high    weak         yes
3       Rain  mild     high    weak         yes
4       Rain  cool   normal    weak         yes
5       Rain  cool   normal  strong          no
6   overcast  cool   normal  strong         yes
7      Sunny  mild     high    weak          no
8      Sunny  cool   normal    weak         yes
9       Rain  mild   normal    weak         yes
10     Sunny  mild   normal  strong         yes
11  overcast  mild     high  strong         yes
12  overcast   hot   normal    weak         yes
13      Rain  mild     high  strong          no

In [6]:
y = z["Plat Tennis"]
k =0
p =0
for i in y:
    if(i=="yes"):
        k = k+1
    else:
        p= p+1
prob_yes = k /len(y)
prob_no = p/len(y)
print(prob_yes)
print(prob_no)

NameError: name 'z' is not defined

In [ ]:
p =data.shape
p

In [ ]:
p[1]

In [7]:
y = x["Plat Tennis"]
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Plat Tennis, dtype: object

In [8]:
jz=[]
jk=[]
for j in range(0,4):
    s=x.columns[j]
    sd=set(x[s])
    sd=list(sd)
    jz.append("name")
    jz.append(s)
    jk.append("name")
    jk.append(s)
    
    for m in sd:
        jz.append(m)
        jk.append(m)
        kl =0
        tt=0
        ttt=0

        for i in range(0,14):
            if(x[s][i]==m):
                kl=kl+1
                if(y[i]=="yes"):
                    tt=tt+1
                elif(y[i]=="no"):
                    ttt=ttt+1
                    
                
        jz.append(kl)
        jk.append("yes")
        jk.append(tt)
        jk.append("no")
        jk.append(ttt)
print(jz)

['name', 'outlook', 'overcast', 4, 'Rain', 5, 'Sunny', 5, 'name', 'temp', 'hot', 4, 'cool', 4, 'mild', 6, 'name', 'Humidity', 'high', 7, 'normal', 7, 'name', 'Wind', 'strong', 6, 'weak', 8]

In [9]:
for j in range(0,4):
    s=x.columns[j]
    sd=set(x[s])
    sd=list(sd)
x[s]

0       weak
1     strong
2       weak
3       weak
4       weak
5     strong
6     strong
7       weak
8       weak
9       weak
10    strong
11    strong
12      weak
13    strong
Name: Wind, dtype: object

In [10]:
jz=[]
jk=[]
for j in range(0,4):
    s=x.columns[j]
    sd=set(x[s])
    sd=list(sd)
    jz.append("name")
    jz.append(s)
    jk.append("name")
    jk.append(s)
jz

['name', 'outlook', 'name', 'temp', 'name', 'Humidity', 'name', 'Wind']

In [11]:
jk

['name', 'outlook', 'name', 'temp', 'name', 'Humidity', 'name', 'Wind']

In [12]:
jz=[]
jk=[]
for j in range(0,4):
    s=x.columns[j]
    sd=set(x[s])
    sd=list(sd)
    jz.append("name")
    jz.append(s)
    jk.append("name")
    jk.append(s)
    
    for m in sd:
    
        kl=0
        jz.append(m)
        jk.append(m)
jz
jk

['name',
 'outlook',
 'overcast',
 'Rain',
 'Sunny',
 'name',
 'temp',
 'hot',
 'cool',
 'mild',
 'name',
 'Humidity',
 'high',
 'normal',
 'name',
 'Wind',
 'strong',
 'weak']

In [13]:
p = []
q= []
final = []
for j in range(0,4):
    s = x.columns[j]
    st = set(x[s])
    lt = list(st)
    p.append("name")
    p.append(s)
    q.append("name")
    q.append(s)
    
    for m in st:
        k =0
        q.append(m)
        q.append(m)
        t= 0
        tt=0
        
        for i in range(0,14):
            if(x[s][i]==m):
                k=k+1
                if(y[i]=="yes"):
                    t=t+1
                elif(y[i]=="no"):
                    tt=tt+1
                    
                
        p.append(k)
        q.append("yes")
        q.append(t)
        q.append("no")
        q.append(tt)
q

['name',
 'outlook',
 'overcast',
 'overcast',
 'yes',
 4,
 'no',
 0,
 'Rain',
 'Rain',
 'yes',
 3,
 'no',
 2,
 'Sunny',
 'Sunny',
 'yes',
 2,
 'no',
 3,
 'name',
 'temp',
 'hot',
 'hot',
 'yes',
 2,
 'no',
 2,
 'cool',
 'cool',
 'yes',
 3,
 'no',
 1,
 'mild',
 'mild',
 'yes',
 4,
 'no',
 2,
 'name',
 'Humidity',
 'high',
 'high',
 'yes',
 3,
 'no',
 4,
 'normal',
 'normal',
 'yes',
 6,
 'no',
 1,
 'name',
 'Wind',
 'strong',
 'strong',
 'yes',
 3,
 'no',
 3,
 'weak',
 'weak',
 'yes',
 6,
 'no',
 2]

In [14]:
import pandas as pd
data= pd.read_csv("nv.csv")
data

     outlook  temp Humidity    Wind Plat Tennis
0      Sunny   hot     high    weak          no
1      Sunny   hot     high  strong          no
2   overcast   hot     high    weak         yes
3       Rain  mild     high    weak         yes
4       Rain  cool   normal    weak         yes
5       Rain  cool   normal  strong          no
6   overcast  cool   normal  strong         yes
7      Sunny  mild     high    weak          no
8      Sunny  cool   normal    weak         yes
9       Rain  mild   normal    weak         yes
10     Sunny  mild   normal  strong         yes
11  overcast  mild     high  strong         yes
12  overcast   hot   normal    weak         yes
13      Rain  mild     high  strong          no

In [15]:
y = data["Plat Tennis"]

In [16]:
tc = len(data.axes[1])
tc

5

In [17]:
p =[]
for i in range(0,4):
    c = data.columns[i]
    sd = set(data[c])
    p.append(c)
    p.append(sd)
    
    for m in sd:
        p.append(m)
        
        k =0
        r = 0
        t = 0
        for i in range(0,14):
            if(data[c][i]==m):
                k = k+1
                if(y[i]=="yes"):
                    r= r+1
                elif(y[i]=="no"):
                    t = t+1
        p.append("yes")
        p.append(r)
        p.append("no")
        p.append(t)
        
p

['outlook',
 {'Rain', 'Sunny', 'overcast'},
 'overcast',
 'yes',
 4,
 'no',
 0,
 'Rain',
 'yes',
 3,
 'no',
 2,
 'Sunny',
 'yes',
 2,
 'no',
 3,
 'temp',
 {'cool', 'hot', 'mild'},
 'hot',
 'yes',
 2,
 'no',
 2,
 'cool',
 'yes',
 3,
 'no',
 1,
 'mild',
 'yes',
 4,
 'no',
 2,
 'Humidity',
 {'high', 'normal'},
 'high',
 'yes',
 3,
 'no',
 4,
 'normal',
 'yes',
 6,
 'no',
 1,
 'Wind',
 {'strong', 'weak'},
 'strong',
 'yes',
 3,
 'no',
 3,
 'weak',
 'yes',
 6,
 'no',
 2]

In [48]:
p =[]
for i in range(0,4):
    c = data.columns[i]
    sd = set(data[c])
    sd = list(sd)
    p.append(c)
    p.append(sd)
    

       
p

['outlook',
 ['overcast', 'Rain', 'Sunny'],
 'temp',
 ['hot', 'cool', 'mild'],
 'Humidity',
 ['high', 'normal'],
 'Wind',
 ['strong', 'weak']]

In [49]:
a = []
b = []
for i in range(0,4):
    c = data.columns[i]
    sd = set(data[c])
    sd =list(sd)
    
    a.append(c)
    b.append(sd)
    
    print(a)
    print(b)
    
    a.clear()
    b.clear()

['outlook']
[['overcast', 'Rain', 'Sunny']]
['temp']
[['hot', 'cool', 'mild']]
['Humidity']
[['high', 'normal']]
['Wind']
[['strong', 'weak']]

In [43]:
import pandas as pd
data= pd.read_csv("nv.csv")
data

     outlook  temp Humidity    Wind Plat Tennis
0      Sunny   hot     high    weak          no
1      Sunny   hot     high  strong          no
2   overcast   hot     high    weak         yes
3       Rain  mild     high    weak         yes
4       Rain  cool   normal    weak         yes
5       Rain  cool   normal  strong          no
6   overcast  cool   normal  strong         yes
7      Sunny  mild     high    weak          no
8      Sunny  cool   normal    weak         yes
9       Rain  mild   normal    weak         yes
10     Sunny  mild   normal  strong         yes
11  overcast  mild     high  strong         yes
12  overcast   hot   normal    weak         yes
13      Rain  mild     high  strong          no

In [44]:
y = data["Plat Tennis"]

In [45]:
tc = len(data.axes[1])
tc

5

In [47]:
a = []
b = []
for i in range(0,4):
    c = data.columns[i]
    sd = set(data[c])
    sd =list(sd)
    a.append(c)   
  
    for m in sd:
        b.append({m})
        
        k =0
        r = 0
        t = 0
        for i in range(0,14):
            if(data[c][i]==m):
                k = k+1
                if(y[i]=="yes"):
                    r= r+1
                elif(y[i]=="no"):
                    t = t+1
        b.append(k)
        b.append("yes")
        b.append(r)
        b.append("no")
        b.append(t)
        
    print(a)       
    print(b)
    a.clear()
    b.clear()

['outlook']
[{'overcast'}, 4, 'yes', 4, 'no', 0, {'Rain'}, 5, 'yes', 3, 'no', 2, {'Sunny'}, 5, 'yes', 2, 'no', 3]
['temp']
[{'hot'}, 4, 'yes', 2, 'no', 2, {'cool'}, 4, 'yes', 3, 'no', 1, {'mild'}, 6, 'yes', 4, 'no', 2]
['Humidity']
[{'high'}, 7, 'yes', 3, 'no', 4, {'normal'}, 7, 'yes', 6, 'no', 1]
['Wind']
[{'strong'}, 6, 'yes', 3, 'no', 3, {'weak'}, 8, 'yes', 6, 'no', 2]

In [40]:
a = []
b = []
an = {}
l=[]
for i in range(0,4):
    c = data.columns[i]
    sd = set(data[c])
    sd =list(sd)
    a.append(c) 
    l.append("column_name")
    l.append(c)
    count_yes=0
    count_no=0
  
    for m in sd:
        b.append(m)
        
        k =0
        r = 0
        t = 0
        for i in range(0,14):
            if(data[c][i]==m):
                k = k+1
                if(y[i]=="yes"):
                    r= r+1
                    count_yes=count_yes+1
                elif(y[i]=="no"):
                    t = t+1
                    count_no=count_no+1
        an.update({m:[k,r,t]})
        b.append("yes")
        b.append(r)
        b.append("no")
        b.append(t)
    l.append(count_yes)
    l.append(count_no)
        
print(an)

{'overcast': [4, 4, 0], 'Rain': [5, 3, 2], 'Sunny': [5, 2, 3], 'hot': [4, 2, 2], 'cool': [4, 3, 1], 'mild': [6, 4, 2], 'high': [7, 3, 4], 'normal': [7, 6, 1], 'strong': [6, 3, 3], 'weak': [8, 6, 2]}

In [41]:
l

['column_name',
 'outlook',
 9,
 5,
 'column_name',
 'temp',
 9,
 5,
 'column_name',
 'Humidity',
 9,
 5,
 'column_name',
 'Wind',
 9,
 5]

In [ ]:
p_outlook_overcast_yes = 4/9
p_outlook_rain_yes = 3/9
p_outlook_suuny_yes = 2/9


p_outlook_overcast_n = 0/5
p_outlook_rain_n = 2/5
p_outlook_sunny_n = 3/5

p_temp_hot_y = 2/9
p_temp_cool_y = 3/9
p_temp_mild_y = 4/9

p_temp_hot_n = 2/5
p_temp_cool_n = 1/5
p_temp_mild_n = 2/5

p_humidity_high_y = 3/9
p_humidity_normal_y =6/9

p_humidity_high_n =4/5
p_humidity_normal_n =1/5

p_wind_strong_y = 3/9
p_wind_weak_y = 6/9

p_wind_strong_n = 3/5
p_wind_weak_n = 2/5

In [30]:
data2 = pd.DataFrame(an,index = ["no. of times","yes","no"])

In [31]:
data2

,overcast,Rain,Sunny,hot,cool,mild,high,normal,strong,weak
no. of times,4,5,5,4,4,6,7,7,6,8
yes,4,3,2,2,3,4,3,6,3,6
no,0,2,3,2,1,2,4,1,3,2